* {
    margin:0; padding:0;
    font-family:'helveticaneuemedium';
}

body {
    position:absolute;
    width:100%; height:100%;
    min-height:600px;
    min-width:400px;
    overflow:none;
}

a { text-decoration:none; color:inherit; }
form { opacity:0; }

/* -------------------- GENERIC ELEMENTS -------------------- */

header {
    position:fixed;
    top:0px; left:0px;
    width:100%; min-width:400px;
    height:75px; min-height:75px;
    background:#1E1E1E;
    z-index:100;
}

.vCenter { position:absolute; top:50%; transform:translate(0, -50%); }
#ixLogo { width:38px; height:26px; left:50px; }
#ibmLogo { width:56px; height:23px; right:50px; }

.greyBackground {
    background:#323232;
}

.rOrR {
    font-size:50px;
    width:100%; text-align:center;
}

.touchToStart {
    color:#FFF;
    font-size:25px;
    width:100%; text-align:center;
    top:90%;
    cursor:pointer;
}

.mwcMix {
    color:#FFF;
    font-size:25px;
    width:100%; text-align:center;
    top:calc(75px + 10%);
    cursor:pointer;
}

#bgImage {
    position:absolute;
    width:100%; height:100%;
    background:url('../images/splashBg.jpg') no-repeat center;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    z-index:0;
    opacity:0;
}

.contentSection {
    position:absolute;
    width:100%; height:100%;
    z-index:1;
    opacity:0;
    display:none;
}

#topPanel {
    position:absolute;
    top:75px;
    height:100%;
    width:100%;
    background:#FFF;
    color:#000;
    font-size:60px;
}
#topPanel p:first-of-type {
    padding-top:5%;
}
#bottomPanel {
    position:absolute;
    top:50%;
    min-width:100%;
    height:50%;
}
.optionChoose {
    position:absolute;
    top:calc(50% - 75px);
    transform:translate(0, -150%);
    width:100%;
    text-align:center;
    color:#4178BE;
    font-size:20px;
}
.socialBtn {
    position:absolute;
    height:100%;
    text-align:center;
    width:calc(100% / 3);
    color:#FFF;
    overflow:hidden;
    cursor:pointer;
}
.socialBtn #twitterBtn {
    height:10%;
}
.socialBtn img {
    position:absolute; top:40%;
    transform:translate(-50%, -50%);
}
.socialBtn img {
    position:absolute; top:40%;
    transform:translate(-50%, -50%);
}
.socialBtn h2 {
    position:absolute; 
    width:100%; top:70%; left:50%;
    transform:translate(-50%, -50%);
}
.socialBtn form {
    position:absolute; 
    width:90%; top:70%; left:50%;
    transform:translate(-50%, -50%);
    display:none;
}
.socialBtn form * {
    margin:10px;
    border:none;
    border-radius:5px;
    background:#FFF;
    color:#777;
    padding:10px;
    font-size:25px;
    width:25%;
    min-width:100px;
}
.socialBtn form input[type=submit]{
    background:rgba(255, 255, 255, 0);
    color:#FFF;
}
#twitterBtn { background:#7CC7FF; left:0; }
#linkedinBtn { background:#325C80; left:calc(100% / 3); }
#emailBtn { background:#4178BE; right:0; }


/* -------------------- FRAME 04 - RESULTS PIE CHART -------------------- */

#circleCanvas {
    position:absolute;
    top:calc(75px + ((100% - 75px) / 2));
    left:50%;
    transform:translate(-50%, -50%);
}

#renagadeText {
    position:absolute;
    top:calc(75px + ((100% - 75px) / 2));
    left:10%;
    transform:translate(0, -200%);
    color:#00b4a0;
    font-size:40px;
}

#realistText {
    position:absolute;
    top:calc(75px + ((100% - 75px) / 2));
    right:10%;
    transform:translate(0, 100%);
    color:#a7fae6;
    font-size:40px;
}

.renRealPercentageText {
    font-size:60px;
}

/* -------------------- MEDIA QUERIES -------------------- */

@media only screen and (max-width: 1000px) {
    
}

@media only screen and (max-width: 600px) {
    
    #topPanel {
        font-size:60px;
    }
    
    .socialBtn {
        position:relative;
        float:none;
        width:100%;
        height:80%;
    }
    
    #linkedinBtn { left:0; }
    
    .socialBtn form * {
        width:80%;
    }
    
    #renagadeText {
        font-size:25px;
        transform:translate(0, -240%);
    }
    
    #realistText {
        font-size:25px;
        transform:translate(0, 140%);
    }

    .renRealPercentageText {
        font-size:50px;
    }
}

/* -------------------- EMBED FONTS -------------------- */

@font-face {
    font-family: 'helveticaneuemedium';
    src: url('../fonts/helveticaneue_medium-webfont.woff2') format('woff2'),
         url('../fonts/helveticaneue_medium-webfont.woff') format('woff'),
         url('../fonts/helveticaneue_medium-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}