.renegadeText {
    position:absolute;
    width:100%;
    top:50%;
    transform:translate(0, -50%);
    text-align:center;
    font-size:75px;
    color:#FFF;
    opacity:0;
}

header {
    top:0px;
}

#realistPcText {
    position:absolute;
    top:41%; left:22%;
    transform:rotate(45deg);
    transform:transform('-50% -50%');
    color:#A7fAE6;
    text-align:right;
    opacity:0;
}

#renegadePcText {
    position:absolute;
    top:40.3%; left:69.5%;
    transform:transform('-50% -50%');
    transform:rotate(-45deg);
    color:#006D5D;
    opacity:0;
}

.label {
    font-size:50px;
}

.percentage {
    font-size:100px;
}

.labelContainerOuter {
    position:absolute;
    width:1920px; height:1080px;
    top:50%; left:50%;
    transform:translate(-960px,-540px);
}

#popup {
    position:absolute;
    top:calc(75px + 10%); 
    right:10%;
    left:10%;
    bottom:10%;
    background:rgba(255, 255, 255, .2);
    border-radius:10px;
    opacity:0;
    display:none;
}

#xBtn {
    position:absolute;
    top:5%; right:5%;
    cursor:pointer;
}

.popupTitle {
    position:absolute;
    top:20%;
    width:100%;
    text-align:center;
    color:#FFF;
    font-size:35px;
}

.popupImage {
    position:absolute;
    top:65%;
    width:15%; height:auto;
    cursor:pointer;
}

#twitBtn {
    left:25%;
    transform:translate(-50%, -50%);
    
}
#linkBtn {
    left:50%;
    transform:translate(-50%, -50%);
}
#emaiBtn {
    left:75%;
    transform:translate(-50%, -50%);
}