header {
    position:fixed;
    top:0px; left:0px;
    width:100%; min-width:300px; max-width:100%;
    height:75px; min-height:75px; max-height:75px;
    background:#1E1E1E;
    z-index:100;
}

#ixLogo { width:38px; height:26px; left:50px; }

#ibmLogo { width:56px; height:23px; right:50px; }